<div class="navigation-container">
  <nav id="navbar">
    <ul>
      <li><a routerLink="/calendar">History</a></li>
      <li><a routerLink="/progress">asd</a></li>
      <li><a routerLink="/customers">Profile</a></li>
      <li><a routerLink="/main">Back to the main page</a></li>
      <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="/register">Register</a></li>
    </ul>
  </nav>
</div>
<router-outlet></router-outlet>
<!--<li *ngIf="isLoggedIn()"><a routerLink="/customers">Profile</a></li>-->
<!--<li><a routerLink="/main">Back to the main page</a></li>-->
<!--<li *ngIf="!isLoggedIn()"><a routerLink="/login">Login</a></li>-->
<!--<li *ngIf="!isLoggedIn()"><a routerLink="/register">Register</a></li>-->
