.addSession {
  text-decoration: none;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 3px;
}

.nextSession {
  padding-left: 15px;
  display:flex;
  flex-direction: column;
  margin-top: 15px;
  margin-right: 40%;
  border: 2px solid darkblue;
  border-radius: 25px;
  text-decoration: none;
}
