.addSession {
  text-decoration: none;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 3px;
}

.nextSession {
  display:flex;
  margin-top: 25px;
  border: 2px solid darkblue;
  border-radius: 5px;
}
