<div class="container">
  <form method="post">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" id="email" name="email" required>
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" [formControl]="register.value[0]" required>
    </div>
    <div class="form-group">
      <label for=psw>Password</label>
      <input type="password" id="psw" name="username" required>
    </div>

    <div class="form-group">
      <input type="submit" value="+   Add Session">
    </div>
    <div class="form-group">
      <a routerLink="/login">Login</a>
    </div>
  </form>
</div>
